#artholder{
    max-height: 500px;
    background-color: black;
}
#artlogo {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}
#carri {
    height: auto;
}
.d-block {
    max-height: 500px;
    margin: auto;
}
#personalcollection{
    background-color: black;
}
